body {
    margin: 0;
    background: #1c1c1c;
}

h1, h2, h3, h4, h5 {
    font-family: 'Patua One';
    font-weight: 400;
}
p, a, span {
    font-family: 'Montserrat';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-bg {
    position: fixed;
    background: url('../img/background.png');
    background-position: 50% 20%;
    width: 80vw;
    height: 120vh;
    z-index: -1;
    right: 0;
    top: 0;
}


.social {
    position: absolute;
}

.social {
    display: none;
}

header{
    background: #1c1c1c;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.header ul {
    display: none;
}
.header i {
    font-size: 25px;
    color: #ededed;
}

.header img {
    width: 250px;
    padding-left: 1em;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ededed;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s ease;
}
.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #1c1c1c;
    display: block;
    transition: 0.5s ease;
}
.sidenav a:hover {
    color: #248232;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 30px;
    margin-right: 50px;
}

.hero {
    padding: 9em 1em 9em 2em;
}

@keyframes fadeIn {
    0% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    25% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease;
}

.hero h1 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.05em;
    color: #ededed;

}

.hero span i {
    font-size: 1.5em;
    color: #ededed;
}

.feature {

    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 1em;
    margin: auto;

}

.f_container {
    width: 80%;
    margin: 2em auto;
    column-count: 1;
    column-gap: 4px;
}

.feature .f_imgs {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.feature .f_imgs:hover {
    background-color:rgba(255, 255, 255, 1);
    opacity: 0.8;
    background-position-y: 70%;
    transition: 0.2s ease-in-out;
}

.feature h3 {
    padding-left: 1em;
    font-size: 2em;
    color: #ededed;
    font-weight: 400;
}

.feature a {
    margin: auto;
    border: 3px solid #ededed ;
    border-radius: 5px;
    padding: .5em;
    color: #ededed;
    text-decoration: none;
}

.feature a:hover {
    background-color: #ededed;
    color: #248232;
    transition: 0.3s ease;
    font-weight: bold;
}

.proj {
    justify-self: center;
    width: 100%;
    height: 100%;
}

.overview {
    display: flex;
    flex-direction: column;
    margin: 4em auto;
}
.overview h3 {
    padding-left: 1em;
    font-size: 2em;
    font-weight: 400;
    color: #ededed;

}

.bio {
    align-self: center;
    position: relative;
}
.overview .img {
    width: 40vw;
    height: 40vw;
    background-image: url('../img/moi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

.overview p {
    color: #ededed;
    text-align: center;
    padding: 2em 5em;
}

.overview a {
    color: #ededed;
    text-decoration: none;
    font-weight: bold;
}

.overview a:hover {
    font-weight: bold;
    transition: 0.3s ease;
    color: #248232;
}


footer {
    background: #ededed;
    display: grid;
    gap: 1.5em;
    padding: 2em 2em 0.2em 2em;
}
footer .imgs {
    margin: auto;
}
footer .logo {
    width: 20vw;
}
footer .text-logo {
    width: 50vw;
}
footer .item {
    justify-self: center;
}

footer ul {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
}
footer ul .icons {
    font-size: 1.5em;
    margin-top: 1em;
}

footer ul a {
    color: #1c1c1c;
}

footer ul a:hover {
    color: #248232;
    font-weight: bold;
    transition: .3s ease;
}

footer h5 {
    text-align: center;
    margin-bottom: 0.2em;
}
footer h5 a {
    font-family: 'Patua One';
    color: #1c1c1c;
}
footer h5 a:hover {
    color: #248232;
    transition: .3s ease;
}

footer a {
    text-decoration: none;
}

.projetstitle {
    margin: 7em 2em 7em 3em; 
}
.projetstitle p {
    padding-right: 3em;
}

.projects {
    width: 60vw;
}

.projetstitle h3 {
    font-size: 2em;
    color: #ededed;
}
.projetstitle p {
    color: #ededed;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2.5em;
    width: 70vw;
    margin: 4em auto;
    z-index: -1;
}
.projects .card {
    position: relative;
    width: 100%;
    height: 400px;
    margin: auto;
    background: #fff;
    transition:  0.5s ease;
    z-index: 0;
}
.projects .card:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, .1);
}
.projects .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: #1c1c1c;
    color: #ededed;
    font-size: 20px;
}

.projects .card .face.face1 p {
    margin: auto 1em;
}
.projects .card .face.face1 p {
    margin-top: 4.8em;
}

.projects .card .face.face1 a {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    text-decoration: none;
    color: #ededed;
    border: 2px solid #ededed;
}

.projects .card .face.face1 a:hover {
    color: #1c1c1c;
    background: #ededed;
}

.projects .card .face.face2 {
    background: #ededed;
    transition: 0.5s ease;

}
.projects .card:hover .face.face2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;

    color: #ededed;
}
.projects .card .face.face2 h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #1c1c1c;
    transition: 0.5s ease;
}
.projects .card:hover .face.face2 h2 {
    color: #ededed;
    font-size: 1.5em;
}




/* START CSS APROPOS */

.jesuis{
    
    width: 80vw;
    margin: 12em auto 1em;
    color: #ededed;
    text-align: left;
}

.jesuis p {
    margin: auto 1.2em;
}
.resume {
    margin: 3em auto;
}
.resume ul {
    display: flex;
    justify-content: center;
}
.item-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto .5em;
    font-family: 'Montserrat';
    color: #ededed;
}
.item-resume h2 {
    margin: .2em auto;
    text-align: center;
}
.item-resume span {
    font-size: .8em;
}
.item-resume i {
    font-size: 1.8em;
}

.skillstitle {
    margin: 5em auto 3em 4em;
    color: #ededed;
}

.skills {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;

}

.item-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ededed;
}

.item-skills h4 {
    margin: 0 auto;
}

.item-skills p {
    text-align: center;
    margin: .5em 1.5em;
    font-size: .6em;
}

.item-skills img {
    margin-top: .5em;
    width: 10vw;
}

.item-skills span {
    font-size: .6em;
    color: #ededed;
    font-family: 'Montserrat';
    background: #3e75a3;
    border-radius: 15%;
    padding: .2em;
    margin: 0.4em;
    white-space: nowrap;
    
}

.item-skills div {
    width: 80%;
    margin-bottom: .4em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

blockquote {
    font-family: 'Montserrat';
    font-size: 1em;
    width: 60%;
    margin: 50px auto;
    font-style: italic;
    padding: 1.2em 30px 1.2em 50px;
    border-left: 8px solid #3e75a3;
    line-height: 1.6;
    position: relative;
    background: rgba(237, 237, 237, 0.2);
    color: #ededed;
}
blockquote::before {
    font-family: Arial, Helvetica, sans-serif;
    content: '\201C';
    color: #ededed;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}
blockquote span {
    display: block;
    color: #ededed;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

/* TIMELINE */

.experience h2 {
    margin-left: 3em;
    color: #ededed;
}

.timeline {
    position: relative;
    margin: 3em  0 3em auto;
    width: 80%;
    padding: 1em 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #3e75a3;

}

.timeline ul {
    margin: 0;
    padding: 0;

}

.timeline ul li {
    line-height: normal;
    position: relative;
    list-style: none;
    padding: 20px 0;

}

.exp-content {
    padding-bottom: 20px;
}

.timeline ul li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(62, 117, 163, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(62, 117, 163, 0.2);
    left: -3px;
}

.timeline ul li h3 {
    margin: -0.4em 0 0 30px;
    padding: 0;
    font-weight: 400;
    color: #3e75a3
}

.timeline ul li p {
     margin: 1em 0 0 40px;
     font-size: .9em;
     width: 80%;
     color: #ededed;
}
.timeline ul li span {
    font-weight: 600;

}

.timeline ul li h5 {
    margin: 0.3em 0 0.3em 30px;
    color: #ededed;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: -7%;
    left: -23%;
    text-align: center;
    color: #ededed;
    font-weight: 400;

}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: -4%;
    left: -23%;
    text-align: center;
    color: #ededed;
    font-weight: 400;

}

/* FIN CSS APROPOS */

   /* START PROJET CSS */

   .pj-title {
    margin: 8em 5em 1em;
    color: #ededed;
}
.pj-title h1 {
    margin-bottom: 0;
}

.pj-title span {
    margin-right: .8em;
    font-size: .5em;
}

.pj-content {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: 1fr;
    gap: .7em;
}

.pj-content .side-card {
    margin: auto;
    width: 80%;
    height: 10vh;
    background: #ededed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.side-card-elem {
    margin-left: 0.5em;
}

.side-card-elem h3{
    margin: 0.2em auto;
    color: #3e75a3;
}

.pj-content .side-card p {
    color: #1c1c1c;
    font-size: .7em;
    margin: 0.2em auto;
    width: 90%;
}

.pj-content .pj-text {
    text-align: center;
    color: #ededed;
}

/* SLIDER */

.gallery {
    width: 80%;
    margin: 2em auto;
    column-count: 1;
    column-gap: 4px;
}

.gallery img {
    width: 100%;
    height: auto;
}



/* FIN PROJET CSS */


/* START CONTACT CSS */

    .contact-title {
        margin: 12em 0 5em 6em;
        color: #ededed;
    }

    .contact-title h1 {
        font-size: 3em;
        color: #ededed;
    }

    .contact-title p {
        font-size: 1.5em;
    }

    .contact-info {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: #ededed;
        margin-bottom: 5em;
    }


    .contact-info p {
        margin-top: 0;
        text-align: center;
    }

    .form-container {
        position: relative;
        width: 80%;
        height: 70vh;
        margin: 2em auto;
        background: rgba(62, 117, 163, 0.2);
        padding-top: .2em;
        font-family: 'Montserrat';
    }
    .form-container div {
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #ededed;
    }

    .input-field {
        border: none;
        border-bottom: 2px solid #ededed;
        background: none;
        height: 5vh;
        width: 70%;
        color: #ededed;
    }
    textarea {
        margin: 1em auto;
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid #ccc;
        border-radius: 4px;
        background-color: rgba(237, 237, 237, 0.2);
        resize: none;
        color: #ededed;
      }

    .input-submit {
        width: 100%;
        height: 50px;
        margin: 1em auto;
        font-family: 'Montserrat';
        font-size: 1.5em;
        font-weight: 600;
        color: #1c1c1c;
    }

    .contact-content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .contact-map h3 {
        margin: 6em auto 2em;
        width: 300px;
color: #ededed;
    }

    .map {
        width: 100%;
        margin: auto;

    }
    iframe {
        width: 100%;
        margin: auto;
        height: auto;
    }

/* FIN CONTACT CSS */

@media (min-width: 550px){
    body {
        font-size: 18px;
    }
    .header img {
        width: 300px;
    }
    .feature {
        gap: 2em;
    }
    .feature img {
        width: 80vw;
    }
    .overview {
        margin-top: 2em;
    }

    .feature h3 {
        padding-left: 2em;
    }
    .overview h3 {
        padding-left: 2em;
    }
    .overview .img {
        width: 30vw;
        height: 30vw;
    }

    footer {
        gap: 2em;
    }
    .projetstitle {
        margin: 9em auto 7em 7em; 
    }
    blockquote {
        margin-top: 10%;
    }

    .pj-title {
        margin: 10em 5em 1em;
    }

    .pj-content {
        margin-bottom: 2em;
    }

    .pj-content .side-card {
        width: 60%;
        height: 12vh;
    }

    .pj-content .pj-text p {
        width: 80%;
        margin: auto;
    }

    /* CONTACT CSS */

    .form-container {
        width: 500px;
    }

    /* FIN CONTACT CSS */

}

@media (min-width: 800px) {

    body {
        font-size: 22px;
    }

    .header .menu {
        display: none;
    }

    .header ul {
        display: flex;
    }

    .header li a {
        color: #ededed;
        text-decoration: none;
        display: block;
        padding: .3em .3em;
        font-size: .7em;
        transition: 0.3s ease;
    }

    .header li a:hover {
        color: #248232;
    }

    .social {
        display: unset;
        z-index: 0;
        right: .8em;
        top: 45%;
        font-size: 1.2em;
    }

    .social a {
        color: #ededed;
    }

    .social a:hover {
        color: #248232;
        transition: .3s ease;
    }

    .social li {
        margin-bottom: .6em;
        color: #ededed;
    }

    .hero {
        padding: 7em 3em 9em 2em;
    }

    .hero span i {
        margin-left: .5em;
    }

    .feature {
        gap: 1em;
        width: 90vw;
        margin: auto;
    }

    .f_container {
        column-count: 2;
    }

    .feature img {
        width: 100%;
    }

    /* .feature h3 {
        grid-column: 1 / 3;
    } */

    .bio {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overview {
        margin: 5em auto;
    }

    .overview .img {
        height: 15vw;
        width: 15vw;
        margin: 0;
    }

    .bio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .bio p {
        font-size: .6em;
        width: 50%;
        text-align: left;
        padding-left: 0;
    }

    .bio .img {
        justify-self: end;
    }

    footer {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }

    .imgs .logo {
        width: 30%;
        margin-left: 70%;
    }

    .imgs .text-logo {
        width: 100%;
    }

    footer h5 {
        grid-column: 1 / 3;
        margin-bottom: 0.2em;
        justify-self: center !important;
    }

    footer ul {
        text-align: left;
        line-height: 1.2em;
    }

    footer .item {
        justify-self: start;
    }  

    footer ul .icons {
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    /* START CSS PROJETS */

    .projetstitle {
        margin: 8em 2em 7em 5em;
    }

    .projetstitle p {
        font-size: .8em;
    }


    .projects {
        width: 80vw;
    }

    /* FIN CSS PROJETS */

    /* START APROPOS CSS */

    .jesuis {
        margin: 7em 2em 2em auto;
        width: 70%;
    }

    .jesuis p {
        font-size: .7em;
    }


    .item-skills h4 {
        width: 90%;
        text-align: center;

    }

    .resume{
        margin-top: 2em;
    }

    .item-resume {
        font-size: .8em;
    }

    blockquote {
        width: 40%;
        font-size: .8em;
    }

    .timeline {
        margin: 2em auto;
        padding: 40px 0;
        width: 90%;
    }

    .exp-content {
        padding: 0 20px;
    }

    .timeline ul li {
        width: 50%;
        box-sizing: border-box;
    }
    .timeline ul li p {
        margin: 1.2em 0;
        width: 100%;
        font-size: .7em;

    }
    .timeline ul li:nth-child(even) h3 {
        margin-left: 0;
    }
    .timeline ul li:nth-child(even) h5 {
        margin-left: 0;
    }

    .timeline::before {
        left: 50%;
    }

    .timeline ul li:nth-child(odd) .time {
        left: 105%;
        top: -10%;
        width: 100px;
    }

    .timeline ul li:nth-child(even) .time {
        left: -35%;
        top: -8%;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        text-align: right;
        clear: both;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        text-align: left;
        clear: both;
    }


    .timeline ul li:nth-child(odd)::before {
        left: 99%;
    }

    .timeline ul li:nth-child(even)::before {
        left: -3px;
    }

    /* FIN APROPOS CSS */

    /* START PROJET CSS */

    .pj-title p {
        font-size: .8em;
    }

    .pj-title span {
        font-size: 0.4em;
    }

    .gallery {
        width: 70%;
        column-count: 2;
    }

   .column-gal{
       flex: 45%;
       max-width: 45%;
   }

    .pj-title {
        margin: 10em 0 1em 7em;
    }
    
    .pj-content {
        grid-template-columns: 20% 1fr;
        margin-bottom: 2em;
    }

    .pj-content .side-card {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }

    .side-card-elem{
        margin-left: 0.5em;
    }

    .side-card-elem h3 {
        margin-bottom: 0;
    }

    .pj-content .side-card p {
        font-size: 0.5em;
        width: 80%;
    }

    .side-card-elem {
        margin-right: 2.5em;
        margin-bottom: 1em;
    }

    .pj-content .pj-text {
        text-align: left;
    }

    .pj-content .pj-text p {
        margin: 0;
        font-size: .8em;
    }


    
    /* START PROJET CSS */
}

@media (min-width: 1000px) {

    body {
        font-size: 25px;
    }

    .header {
        width: 980px;
        margin: auto;
    }

    .header li a {
        font-size: .7em;
    }

    .hero {
        width: 1000px;
        margin: auto;
    }

    .feature {
        width: 1000px;
        gap: .5em;
        margin: auto;
    }

    .overview {
        width: 1000px;
    }

    .imgs .logo {
        width: 20%;
        margin-left: 80%;
    }
    .imgs .text-logo {
        width: 60%;
        margin-left: 40%;
    }

    footer ul {
        font-size: .8em;
    }

    .main-bg {
        background-position: 100% 0;
        background-repeat: no-repeat;
    }
    .projects {
        width: 75vw;
        gap: 2em;
    }

    .projetstitle {
        margin: 8em 2em 7em 7em;
    }

    /* APROPOS CSS */


    .resume ul {
        font-size: .7em;
    }

    .item-resume {
        font-size: 1em;
    }

    .skills {
        width: 80vw;
    }

    blockquote {
        width: 25%;
    }

    .timeline {
        width: 70%;
    }

    .timeline ul li p {
        font-size: .6em;
    }


    /* APROPOS CSS */

    .pj-content {

        width: 60vw;
    }
 
    .pj-title {
        margin: 10em 0 1em 8em;
    }




}

@media (min-width: 1200px) {
    
    .projetstitle {
        width: 1000px;
        margin: 9em auto;
    }

    .jesuis {
        width: 1000px;
        margin: 8em auto 2em;
    }

    .timeline {
        width: 50%;
    }

    .experience h2 {
        margin-left: 8em;
    }

    .skillstitle {
        margin: 5em auto 3em 12em;
    }

    .experience {
        margin-top: 10%;
    }

    .pj-title {
        margin: 10em 0 2em 11em;
    }

    .pj-content {

        width: 50vw;
    }

    .contact-title {
        width: 1000px;
        margin: 11em auto 5em;
    }

}
