{% extends 'public/templates/base.html' %}

{% block title %}
    {{ super() }}
    Projets
{% endblock title %}

{% block content %}

<div class="projetstitle fade-in">
    <h3>Projets</h3>
    <p>Bref exposé de travaux de design durant mes
        expériences tant académiques que professionnelles,
        dont vous pourrez trouver établie ma vision de l'usage
        du design comme moyen pour générer de la valeur.</p>
</div>
<section class="projects">

    {% for work in works  %}
        
    <div class="card">
        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> 
                    {{ work.meta_descript }}
                </p>
                <a href="/projets/{{ work.title }}">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>{{ work.title }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}
 
</section>
{% endblock content %}