{% extends 'public/templates/base.html' %}

{% block title %}
    {{ super() }}
    Projets
{% endblock title %}

{% block content %}

<div class="projetstitle fade-in">
    <h3>Projets</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
</div>
<section class="projects">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="/projets/plie">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
    </div>
    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Plie</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="/projets/teru">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>

    </div>

    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="/projets/miroir">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>


    </div>


    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="#">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
        
    </div>

    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="#">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
        
    </div>

    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="#">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
        
    </div>


    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="#">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
        
    </div>

    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="#">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
        
    </div>

    <div class="card">

        <div class="face face1">
            <div class="content">
                <!-- <h4>Teru</h4> -->
                <p> Lorem ipsum dolor sit amet, consectetuer 
                adipiscing elit, sed diam nonummy nibh 
                euismod tincidunt. 
                </p>
                <a href="#">Voir projet</a>
            </div>
        </div>
        <div class="face face2">
            <div class="img-card">
                <h2>Teru</h2>
            </div>
        </div>
        
    </div>
    

</section>
{% endblock content %}